<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>{+title /}</title>
    
        <link rel="stylesheet" href="/css/app.css">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/foundation.css">
    
    </head>
    <body class="container">

        <div class="row">
            <div class="large-12 columns">
                <h1>TekBooks</h1>
            </div>
        </div>
 
        <div class="row">
            <div class="large-12 columns"> 
               
                 <nav class="top-bar" data-topbar role="navigation">
                    <section class="top-bar-section">
                        <span> <a href="/">Home</a>&nbsp; &nbsp; &nbsp; &nbsp;  <a href="/pages/about">About</a> &nbsp; &nbsp; &nbsp; &nbsp;      <a href="/cart">Cart</a>     
                         <!-- <ul class="title-area">
                            <li><h5><a href="/">Home</a></h5></li> 
                            <li><h5><a href="/pages/about">About</a></h5></li>
                            <li><h5><a href="/cart">Cart</a></h5></li>
                        </ul>  -->
                        
                    </section>
                </nav> 
            </div>
        </div> 
        <div class="row">
            <div class="large-12 columns">
                {+body /}
            </div>
        </div>
    <footer>
        <div class="row">
            <div class="large-12 columns">
                <p> TekBook &copy; 2017 | <a href="/manage">Manage</a></p>
            </div>
        </div>
    </footer>
        <script data-main="/js/app" src="/components/requirejs/require.js"></script>
        <script src="/js/vendor/jquery.js"></script>
        <script src="/js/vendor/foundation.min.js"></script>
        <script src="/js/vendor/main.js"></script>
        <script>
            $(document).foundation();
        </script>
    
    </body>
</html>
