body {
  padding-top: 50px;
}


footer{
  height:40px;
  background:#f4f4f4;
  margin-top:30px;
  padding-top:10px;
	text-align: center;
  overflow:auto;
}
.container{
	width: 1100px;
	
	margin: 20px auto;
	padding: 20px;
	
}
.append{
	float:inline-block;
	display: table;

}
.top-bar{
	margin-bottom: 20px;
}
.book{
	text-align: center;display: table-cell;
}
.book h4{
	margin-top: 15px;
}
.price{
	margin:5px;
	font-size: 18px;
}
.price span{
	color:green;
	background:#f4f4f4;
	padding: 10px;
	border:1px #ccc solid;
	border-radius: 50%;
}
